
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');

body {
    
    background-color: #0f1833;
    color: white;
    font-family: "Noto Kufi Arabic", sans-serif;
    direction: rtl;
    margin: 20px;
}
div{
    text-align: center;
    background-color: #112150;
    border-radius: 10px;
    box-shadow: 0 0 10px #e0dd09;
}
span{
    color: #e7eb04;
}
table{
    margin: 0 auto;
    border-collapse: collapse;
    
}
#classification1 , #classification2, #classification3 , #classification4 , #classification5 , #classification6 {
    color: #0e5db8;
    background-color: #ffffff;
    
}
#classification10{
    background-color: #2e76c9;
}
#classificatio{
    background-color: #7e9dc0;
}
th{
    text-align: center;
}
input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: #112150;
}
button {
    background-color: #0e5db8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
fieldset {
    border: 2px solid #0e5db8;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 20px; ;
    margin-right: 20px; ;
}







.c4g-widget{
    display: none !important;
}